/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(
    -45deg,
    #0a0f2c,
    #0d1b5e,
    #1a2d8f,
    #0a0f2c
  );
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 4%;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 12%;
  top:0;
  left:0;
  width:100%;
  z-index:2000;
  background:transparent;
  padding:15px 20px;

}



.logo {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

nav a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.6;
}

/* HERO 
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 8%;
  margin-top:80px;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 25px;
  font-weight: 600;
}

.hero-text p {
  opacity: 0.7;
  margin-bottom: 30px;
}

.btn {
  padding: 14px 28px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 500;
  background: linear-gradient(90deg, #4f8cff, #7a5cff);
  color: white;
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(79,140,255,0.4);
}

/* SERVICES */
.services {
  padding: 120px 8%;
}

.services h2 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 38px;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  padding: 60px;
  border-radius: 20px;
  width: 350px;
  
  transition: 0.4s;
  border: 1px solid rgba(255,255,255,0.1);
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(255,255,255,0.12);
}

 /*CONTACT */
.contact {
  padding: 120px 8%;
}

.contact h2 {
  text-align: center;
  margin-bottom: 50px;
}

form {
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, select, textarea {
  padding: 15px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
  backdrop-filter: blur(10px);
}

textarea {
  min-height: 120px;
}

button {
  padding: 15px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #4f8cff, #7a5cff);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(79,140,255,0.4);
}

#successMessage {
  text-align: center;
  margin-top: 20px;
  color: #7dffb3;
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
.footer {
  background: #070c24;
  padding: 80px 8% 30px 8%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer h3 {
  margin-bottom: 15px;
}

.footer h4 {
  margin-bottom: 15px;
}

.footer a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  transition: 0.3s;
}

.footer a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  opacity: 0.5;
  font-size: 14px;
}

.reveal {
  opacity: 1 !important;
  transform: none !important;
}



.services {
  padding: 40px 0px;
  perspective: 1000px;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* PORTFOLIO VITRINE 
.portfolio {
  padding: 120px 8%;
  text-align: center;
}

.portfolio-sub {
  max-width: 600px;
  margin: 20px auto 60px;
  opacity: 0.7;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  transition: 0.4s;

  overflow: hidden;


}

.project-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.12);
}

.project-card h3 {
  margin-bottom: 15px;
}

.project-card p {
  opacity: 0.8;
  margin-bottom: 20px;
}

.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background: linear-gradient(90deg, #4f8cff, #7a5cff);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.highlight {
  border: 1px solid #4f8cff;
  box-shadow: 0 20px 40px rgba(79, 140, 255, 0.2);
}

.small-btn {
  padding: 10px 20px;
  font-size: 14px;
}







.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s ease;
  
}

.project-card:hover img {
  transform: scale(1.08);
}
*/

.blur-img {
  filter: blur(5px);
}

.project-card:hover .blur-img {
  filter: blur(4px);
}


/* ABOUT */
.about {
  padding: 120px 8%;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 38px;
  margin-bottom: 25px;
}

.about-text p {
  opacity: 0.8;
  margin-bottom: 20px;
  line-height: 1.6;
}

.highlight {
  font-weight: 600;
  opacity: 1;
}

.about-card {
  flex: 1;
  min-width: 280px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}

.about-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.12);
}

.about-card ul {
  list-style: none;
  margin-top: 20px;
}

.about-card li {
  margin-bottom: 15px;
  opacity: 0.9;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header img {
  width: 130px;
  height: 130px;
 
}






/* HAMBURGER */

.menu-toggle{
width:30px;
height:22px;
display:flex;
flex-direction:column;
justify-content:space-between;
cursor:pointer;
z-index:1002;
}

.menu-toggle span{
height:3px;
width:100%;
background:white;
border-radius:3px;
transition:0.4s;
}


/* animation X */

.menu-toggle.active span:nth-child(1){
transform:rotate(45deg) translate(5px,5px);
}

.menu-toggle.active span:nth-child(2){
opacity:0;
}

.menu-toggle.active span:nth-child(3){
transform:rotate(-45deg) translate(6px,-6px);
}



/* MENU DESCENDANT */

.top-menu{
position:fixed;
top:-485px;
left:0;
width:100%;

background:linear-gradient(
135deg,
#1b2a8f,
#1f3fb5,
#2b5cff
);

backdrop-filter:blur(15px);

display:flex;
flex-direction:column;
align-items:center;
gap:20px;

padding:90px 0;

transition:0.5s cubic-bezier(.77,0,.18,1);
z-index:1001;
}


.top-menu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  transition: 0.3s;
}

.top-menu a:hover {
  color: #6fe0ff;
  transform: scale(1.05);
}


/* bouton commander */

.top-menu .cta{

background:linear-gradient(
90deg,
#6fe0ff,
#7b61ff
);

padding:12px 28px;
border-radius:30px;
color:white;
font-weight:600;
}

.top-menu .cta:hover{
transform:scale(1.08);
}


/* menu actif */

.top-menu.active{
top:0;
}



/* OVERLAY FLOU */

#menuOverlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(6px);
opacity:0;
visibility:hidden;
transition:0.3s;
z-index:1000;
}

#menuOverlay.active{
opacity:1;
visibility:visible;
}




.services-carousel{
overflow:hidden;
width:100%;
position:relative;
}


.cards-scroll{
display:flex;
gap:30px;
overflow:hidden;
padding: 20px 0;
}


.card {
  
  min-width: 90%;
  
  background: rgba(255, 255, 255, 0.05);
  
  backdrop-filter: blur(12px);
  
  border-radius: 18px;
  
  padding: 35px 25px;
  
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  
  transition: 0.4s;
  
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

min-height:160px;
}



.card:hover{
transform:translateY(-6px);
}

.card h3{
font-size:22px;
margin-bottom:10px;
}

.card p{
font-size:16px;
opacity:0.9;
}



.process{
padding:80px 20px;
text-align:center;
}

.timeline{
position:relative;
max-width:700px;
margin:50px auto;
}

/* ligne verticale */

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  
  width: 3px;
  height: 100%;
  
  background: #1b1b1b;
  
  transform: translateX(-50%);
}

/* ligne animée */

.timeline-progress {
  
  position: absolute;
  
  left: 50%;
  top: 0;
  
  width: 3px;
  height: 0;
  
  background: linear-gradient(#6fe0ff, #7b61ff);
  
  transform: translateX(-50%);
  
  transition: height 0.3s ease;
  
}

/* item */

.timeline-item{
display:flex;
align-items:center;
margin:40px 0;
position:relative;
}

/* alternance gauche droite */

.timeline-item:nth-child(odd){
flex-direction:row-reverse;
}

/* contenu */

.timeline-content{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);

padding:20px;
border-radius:12px;

width:45%;

box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* point */

.timeline-dot{

width:45px;
height:45px;

background:linear-gradient(90deg,#6fe0ff,#7b61ff);

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

color:white;
font-weight:bold;

position:absolute;

left:50%;
transform:translateX(-50%);

}

.timeline-content{

opacity:0;
transform:translateY(30px);
transition:0.6s;

}

.timeline-item.visible .timeline-content{

opacity:1;
transform:translateY(0);

}

.footer img {
  width: 50px;
  height: 40px;
}

.footer h3 {
  display: flex;
  align-items: center;
}





/* HERO */

.hero{

position:relative;
padding:120px 20px;
text-align:center;
overflow:hidden;

}

/* BACKGROUND GRADIENT ANIMÉ */

.hero-bg{

position:absolute;
top:0;
left:0;

width:100%;
height:100%;

background:radial-gradient(circle at 20% 30%, #6fe0ff, transparent 40%),
           radial-gradient(circle at 80% 70%, #7b61ff, transparent 40%);

filter:blur(100px);

animation:moveBg 10s infinite alternate;

z-index:-1;

}

@keyframes moveBg{

0%{
transform:translateY(0px);
}

100%{
transform:translateY(-40px);
}

}

/* TEXTE GRADIENT */

.gradient-text{

font-size:32px;
font-weight:600;

background:linear-gradient(90deg,#6fe0ff,#7b61ff);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

margin-bottom:15px;

}

/* TEXTE */

.hero p{

color:#ccc;
max-width:500px;
margin:auto;

}

/* BOUTON GLOW */

.glow-btn{

display:inline-block;
margin-top:20px;

padding:12px 25px;

background:linear-gradient(90deg,#6fe0ff,#7b61ff);

color:white;

border-radius:30px;

text-decoration:none;

font-weight:500;

position:relative;

box-shadow:0 0 20px rgba(123,97,255,0.5);

transition:0.3s;

}

.glow-btn:hover{

transform:scale(1.05);

box-shadow:0 0 40px rgba(123,97,255,0.8);

}

.hero-text{

opacity:0;
transform:translateY(30px);

animation:fadeHero 1s ease forwards;

}

@keyframes fadeHero{

to{
opacity:1;
transform:translateY(0);
}

}

/*portfolio futuriste*/

/* SECTION */

.portfolio {
  
  padding: 80px 20px;
  text-align: center;
  
}

/* TITRE */

.section-title {
  
  font-size: 28px;
  margin-bottom: 40px;
  
  background: linear-gradient(90deg, #6fe0ff, #7b61ff);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

/* GRID */

.portfolio-grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  
}

/* CARD */

.project-card {
  
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  
  cursor: pointer;
  
  transition: 0.4s;
  
}

/* IMAGE */

.project-card img {
  
  width: 100%;
  height: 200px;
  object-fit: cover;
  
  transition: 0.4s;
  
}

/* OVERLAY */

.project-overlay {
  
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  
  background: linear-gradient(to top, #7b61ff, transparent);
  
  color: white;
  
  padding: 15px;
  
  opacity: 0;
  
  transform: translateY(20px);
  
  transition: 0.4s;
  
}

/* HOVER EFFECT */

.project-card:hover img {
  
  transform: scale(1.1);
  
}

.project-card:hover .project-overlay {
  
  opacity: 1;
  transform: translateY(0);
  
}

.project-card:hover {
  
  box-shadow: 0 0 25px rgba(123, 97, 255, 0.6);
  
}

/* BADGE */

.badge {
  
  display: inline-block;
  margin-top: 8px;
  padding: 4px 10px;
  
  background: #6fe0ff;
  color: #111;
  
  border-radius: 20px;
  
  font-size: 12px;
  
}

.badge.secret {
  
  background: #ff4d6d;
  color: white;
  
}

/* CTA CARD */

.cta-card {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.cta-card a {
  
  margin-top: 10px;
  padding: 10px 20px;
  
  background: linear-gradient(90deg, #6fe0ff, #7b61ff);
  
  color: white;
  text-decoration: none;
  
  border-radius: 25px;
  
}



/* SLIDER */

.tech-slider{

margin-top:80px;
overflow:hidden;

position:relative;

}

/* FADE GAUCHE / DROITE (effet premium) */

.tech-slider::before,
.tech-slider::after{

content:"";

position:absolute;
top:0;

width:70px;
height:100%;

z-index:2;

}

.tech-slider::before{

left:0;
background:linear-gradient(to right,#1D2C8A,transparent);

}

.tech-slider::after{

right:0;
background:linear-gradient(to left,#3339A4,transparent);

}

/* TRACK */

.tech-track{

display:flex;
gap:10px;

width:max-content;

animation:scrollTech 20s linear infinite;

}

/* IMAGE */

.tech-track img{

height:100px;

opacity:0.7;

transition:0.3s;

}

.tech-track img:hover{

opacity:1;
transform:scale(1.1);

}

/* ANIMATION */

@keyframes scrollTech{

0%{
transform:translateX(0);
}

100%{
transform:translateX(-50%);
}

}